name: Build and Release PyQt App on Linux

on:
  push:
    tags:
      - 'v*'  # Only triggers when you push tags like v1.0.0


permissions:
  contents: write 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.5'

      - name: Install system dependencies
        run: sudo apt-get install -y libxcb-xinerama0

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build PyQt app with pyinstaller
        run: |
          pyinstaller --onefile main.py

      - name: Create GitHub Release and Upload Binary
        uses: softprops/action-gh-release@v2
        with:
          files: dist/main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
