name: Build PyQt App on Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.5'

      - name: Install system dependencies
        run: sudo apt-get install -y libxcb-xinerama0

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build PyQt app with pyinstaller
        run: |
          pyinstaller --onefile main.py

      - name: Upload built app artifact
        uses: actions/upload-artifact@v4
        with:
          name: PyQt-Linux-Executable
          path: dist/main
